<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ejemplo 1</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>

</head>


<div class="container-fluid mt-3" id="app">
    <input type="text" class="form-control" v-model="criterioDeBusquedaNombre"
        placeholder="Ingrese el nombre de la persona que busca...">
		<input type="text" class="form-control" v-model="criterioDeBusquedaDNI"
        placeholder="Ingrese el DNI de la persona que busca...">
    <br>
    <div class="card-deck m-0">
        <div class="row">
            <div class="col" v-for="persona in personasFiltradas">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">{{getNombreCompleto(persona)}}</h5>
                        <p class="card-text">dni {{persona.dni}}</p>
                        <a href="#" class="card-link">{{persona.correo}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

</html>

<script>
    new Vue({
        el: '#app',
        data: {
            criterioDeBusquedaNombre: '',
			criterioDeBusquedaDNI: '',
            //Aquí, en este array es donde tienen que agregar su información
            personas: [
                {
                    nombre: "Daniel",
                    apellido: "Sanchez",
                    correo: "danielsanchez68@hotmail.com",
                    dni: "20442873"
                },
                {
                    nombre: "Juan",
                    apellido: "Perez",
                    correo: "juanperez16@gmail.com",
                    dni: "19457771"
                },
				{
                    nombre: "Laura",
                    apellido: "Lopez",
                    correo: "llopez132@gmail.com",
                    dni: "37445871"
                },
				{
                    nombre: "Miguel",
                    apellido: "Garcia",
                    correo: "miguegarcia1998@gmail.com",
                    dni: "40177541"
                },
				{
                    nombre: "Juan",
                    apellido: "Gomez",
                    correo: "juangfgdf@gmail.com",
                    dni: "41770332"
                }
            ]

        },
        computed: {
            personasFiltradas() {
                let filtro1 = this.personas.filter((persona) => {
                    let registroCompleto1 = `${persona.nombre} ${persona.apellido}`
                    return registroCompleto1.toLowerCase().includes(this.criterioDeBusquedaNombre.toLowerCase())
                });
				
				let filtro2 = filtro1.filter((persona) => {
                    let registroCompleto2 = `${persona.dni}`
                    return registroCompleto2.toLowerCase().includes(this.criterioDeBusquedaDNI.toLowerCase())
                });
				
				let resultado = filtro2
				return resultado
            }
        },
        methods: {
            getNombreCompleto(persona) {
                return `${persona.nombre} ${persona.apellido}`
            }
        }
    });
</script>